* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 7%;
  transition: 0.5s;
}

.navbar-logo {
  width: 160px;
}

.navbar-logo img {
  width: 100%;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.light-theme li {
  color: black;
}

.dark-theme li {
  color: white;
}

.toggle-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder {
  color: #fff;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.dark .navbar {
  background: #000;
  color: #fff;
}

.dark .search-box {
  background: #fff;
}

.dark .search-box input::placeholder {
  color: #222;
}

/*! for logout and current user css  */

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.nav-links li {
  margin-right: 20px;
}

.currentUser {
  display: flex;
  align-items: center;
}

.user-email {
  margin-right: 30px;
}

.logout {
  cursor: pointer;
}

.search-box {
  margin-left: 20px;
}

.toggle-icon {
  margin-left: 20px;
}

.mobile-menu-icon {
  margin-left: 20px;
}
/* Mobile Mode */
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 890px) {
  .mobile-menu-icon {
    display: block;
  }

  .navbar-logo {
    width: 100px;
  }

  .nav-links {
    display: none;
  }

  .navbar {
    width: 100%;
  }

  .toggle-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
  }
  .currentUser {
    display: flex;
    flex-direction: column; /* Added this line to display items vertically */
    align-items: center;
  }

  .user-email {
    margin-bottom: 10px;
  }

  .nav-links-mobile {
    position: absolute;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #227093;
    left: 0;
    top: 73px;
    transition: all 0.5s ease-out;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .search-box {
    display: none;
  }
}
