.footer {
    margin: 0px auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #797979;
    padding: 15px 0;
  }
  .footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
  }
  /* ----------- Media query------------- */
  @media (max-width: 600px) {
    .footer {
      margin-top: 80px;
      display: block;
      text-align: center;
    }
  
    .footer ul li {
      margin: 10px;
    }
  
    .footer ul  {
      margin-top: 10px;
    }
  }
  