/* html,
body {
  height: 100%;
  background-color: #ced8ff;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ced8ff;
  transition: 0.5s;
}

/* container hole body color change by using toggle   */
.container.dark {
  background-color: #d66e6e;
}
