/* html,
body {
  height: 100%;
  background-color: #ced8ff;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ced8ff;
  transition: 0.5s;
}

/* container hole body color change by using toggle   */
.container.dark {
  background-color: #ced8ff;
}
.title{
text-align: center;
color: #212EA0;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
margin: 70px 0 30px;
}

.title h2{ 
font-size: 32px;
color: #000F38;
margin-top: 5px;
text-transform: none;
}

/* ---------Media Query ---------- */

@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 14px 22px;
  }
}
