/* html,
body {
  height: 100%;
  background-color: #ced8ff;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ced8ff;
}
